{{#each this}}
<li class="photo-card">
  <img class="photo" src="{{webformatURL}}" alt="{{tags}}" data-source="{{largeImageURL}}" />

  <div class="description">
    <p class="description-item">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="description-item">
      <i class="material-icons">visibility</i>
      {{views}}
    </p>
    <p class="description-item">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="description-item">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </p>
  </div>
</li>
{{/each}}